/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************************************
                Main Styles
*************************************************/
body{
    font-family:"Nunito", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width:800px;
    margin:0 auto;
}

h1{
    font-size:2em;
    font-family:"Bagel Fat One", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    font-size:1.2em;
    font-family:"Bagel Fat One", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom:0.4em;
}

.red{
    font-weight:bold;
    color:red;
}

header{
    margin-bottom:2em;
}

form .toppings{
    display:flex;
    justify-content:space-around;
}

form label{
    display:block;
    cursor:pointer;
    margin-top:0.4em;
}

form input{
    cursor:pointer;
}

/*note "has" selector*/
form .bread label:has(input[type="checkbox"]){
    margin-top:1em;
}

form .submit{
    margin-top:1em;
    display:flex;
    justify-content:center;
}

form .submit input{
    padding:0.5em;
    cursor:pointer;
}

.order{
    margin-top:1.5em;
}

/*************************************************
            Fake Checkboxes/Radios
*************************************************/
/*make our lables flexbox so things sit next to each other*/
form label{
    display:flex;
    align-items:baseline;
}
/*use CSS to hid the original checkboxes and radios, and replace them with something that actually looks nice */
input[type="checkbox"], input[type="radio"]{
    appearance:none; /*hide thie originals*/
    border: 0.15em solid black; /*give the empty checkbox space a border */
    width:1.35em;
    height: 1.35em;
    display:grid; /*use grid to ensure the fake checkbox/radio will be centred */
    place-content: center;
}

/* add border radius so we can tell the difference between checkbox and radio */
input[type="checkbox"]{border-radius: 0.15em;}
input[type="radio"]{border-radius: 50%;}

/*use the pseudo-class before to add the thing in the centre*/
input[type="checkbox"]::before, input[type="radio"]::before{
    content: ""; /*before and after do not exist unless you put content in them */
    width:0.65em;
    height:0.65em;
    background: black;
    scale: 0; /*use scale to hide it until the box is checked */
    transition: all 120ms ease-in-out; /*a little animation to make it look cool */
}

/*use the pseudo class "checked" to make the box appear when things are checked */
input[type="checkbox"]:checked::before, input[type="radio"]:checked::before{
    scale:1; /*set the scale back to normal */
}